body {
    margin: 0;
    padding: 0;
}

.top-frame {
    background-color: #eaf7e8; /* Change the background color as needed */
    height: 40px; /* Change the height as needed */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the frame is above other elements */
    color: rgb(201, 28, 28); /* Change the text color as needed */
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: center;
}

.horizontal-frame {
    background-color: #2daacd; /* Change the background color as needed */
    height: 100%;
    width: 15%; /* Set to 1/5 of the viewport width */
    position: fixed;
    top: 0; /* Adjust based on the height of the top frame */
    left: 0;
    z-index: 999; /* Ensure the frame is above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-world {
    font-weight: bold;
    font-size: 20px; /* Adjust the font size as needed */
    margin: 0;
}





